<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Through the iterative design process, EMU Interior Design will ensure that options are tested and agreed whilst progressing through a project lifecycle.
                        <br/>
                        Whether engaged with our clients in part, or the whole life cycle, our expertise in achieving clear milestones will be beneficial to any building project.</h3>
                </div>
            </div>
            <div class="row">
                <img src="img/services/main.png" class="img-responsive img-centered" alt="">
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-volume-up fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Prepare</h4>
                    <p class="text-muted">Listen / Capture / Analyse</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Inspire</h4>
                    <p class="text-muted">Challenge / Workshop / Concept</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-truck fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Deliver</h4>
                    <p class="text-muted">Project Management / Deliver</p>
                </div>                
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Design</h4>
                    <p class="text-muted">Options / Develop / Present / Costs</p>
                </div>
            </div>            
        </div>
    </section>