<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <p class="section-subheading text-muted text-left">Through the iterative design process, EMU Interior Design will ensure that options are tested and agreed whilst progressing through a project lifecycle.
                        <br/>
                        <br/>
                        Whether engaged with our clients in part, or the whole life cycle, our expertise in achieving clear milestones will be beneficial to any building project.</p>
                </div>
            </div>
        </div>
    </section>
    <aside>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img src="img/services/main.png" class="img-responsive img-centered" alt="">
                </div>
            </div>
        </div>
    </aside>
    <section id="sub-services" class="bg-light-gray">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-volume-up fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Prepare</h4>
                    <p class="text-muted">Listen / Capture / Analyse</p>
                    <ul class="text-left text-muted">
                        <li>Interview Stakeholders and establish a clear vision</li>
                        <li>Observe current undertakings with space utilisation audits</li>
                        <li>Benchmark findings and build the brief</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Inspire</h4>
                    <p class="text-muted">Challenge / Workshop / Concept</p>
                    <ul class="text-left text-muted">
                        <li>Challenge current practices and identify how they are relevant to your organisation</li>
                        <li>Explore the options, analyse the building and innovate the end users</li>
                        <li>Launch the big idea. Presenting the initial design proposal</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-truck fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Deliver</h4>
                    <p class="text-muted">Project Management / Deliver</p>
                    <ul class="text-left text-muted">
                        <li>Coordinate with specialist contractors</li>
                        <li>Undertake sample reviews, organize mock ups or pilot spaces</li>
                        <li>Programme the delivery</li>
                        <li>On site presence</li>
                        <li>Highlight snagging issues</li>
                        <li>Co-ordinate O&M manuals</li>
                        <li>Project review complete with lessons learned and future aspirations workshop</li>
                    </ul>
                </div>                
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Design</h4>
                    <p class="text-muted">Options / Develop / Present / Costs</p>
                    <ul class="text-left text-muted">
                        <li>Capture the feeback, look at the details and refine the options</li>
                        <li>Build on the idea, look at the specifics and create a solution</li>
                        <li>Present the solution; agree relevant iteration of sign off</li>
                        <li>Liaise with suppliers, balance the budget, analyse tender submissions, negotiate best price</li>
                    </ul>
                </div>
            </div>            
        </div>
    </section>